<h3><%= @cocktail.name %></h3>
<% if @cocktail.photos? %>
<% @cocktail.photos.each do |photo| %>
<%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
<% end %>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    <%= dose.description %> |
    <%= link_to "Delete dose", cocktail_dose_path(@cocktail, dose), method: 'delete'%>
  </li>
  <% end %>
</ul>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<p>Add a new dose for <%= @cocktail.name %></p>
<%= f.association :ingredient, collection: Ingredient.order('name ASC')  %>
<%= f.input :description %>
<%= f.submit %>
<% end %>


<%= link_to "Add dose", new_cocktail_dose_path(@cocktail),{class:"btn btn-primary"}%>
<%= link_to "Homepage", root_path, {class:"btn btn-danger"}%>
