<%= simple_form_for [@cocktail, @dose] do |f| %>
  <p>Add a new dose for <%= @cocktail.name %></p>
  <%= f.association :ingredient, collection: Ingredient.order('name ASC')  %>
  <%= f.input :description %>
  <%= f.submit %>
  <%= link_to "Homepage", root_path, {class: "btn btn-danger"} %>
<% end %>
